# Server Config
PORT=5005
NODE_ENV=development

# Database Configuration (Used by Prisma & Docker)
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/razorpay_db?schema=public"

# Razorpay credentials (Get these from Razorpay Dashboard -> Settings -> API Keys)
# Use your Test Mode credentials for development
RAZORPAY_KEY_ID=rzp_test_yourKeyId
RAZORPAY_KEY_SECRET=yourKeySecret

# Razorpay Webhook Secret (Set this when configuring Webhook in Razorpay dashboard)
RAZORPAY_WEBHOOK_SECRET=yourWebhookSecret
